* {
  margin: 0;
  padding: 0;
}
:root {
  --blue1: #0dcaf0;
  --blue2: #38b6ff;
  --orange1: #f3ddce;
  --orange2: #f6ece6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.text_white {
  text-align: center;
  color: white;
}
.text_gray {
  color: gray;
}

.nav {
  background-image: linear-gradient(
    to right,
    var(--blue1),
    var(--blue2),
    var(--orange1),
    var(--orange2)
  );
}
.nav .navbar-toggler:focus {
  border-color: white;
  box-shadow: none;
}
.nav .navbar-toggler .navbar-toggler-icon {
  background: url("./img/format-list-bulleted_119102.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav .nav-item .nav-link {
  color: white;
  font-size: 22px;
}
.nav .nav-item .nav-link:hover {
  color: var(--orange1);
}
#content {
  min-height: 615px;
  padding: 30px 0;
}
#content .btn_green {
  color: white;
  font-weight: 500;
}

footer {
  background-image: linear-gradient(
    to right,
    var(--blue1),
    var(--blue2),
    var(--orange1),
    var(--orange2)
  );
  min-height: 100px;
  padding: 20px 0;
  color: white;
}

footer .listIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer .listIcon li i {
  font-size: 35px;
  margin-right: 20px;
}
